* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(16, 27, 17, 0.924);
}

.clock-outline {
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.7);
}

.clock {
    width: 700px;
    height: 700px;
    box-shadow: inset 0 0 25px rgba(216, 216, 138, .6);
    border-radius: 50%;
    position: relative;
}

.line {
    --rotation: 0;
    width: 700px;
    height: 700px;
    text-align: center;
    color: rgba(173, 173, 119, 0.7);
    font-size: 7rem;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    transform: rotate(var(--rotation));
}

.line1 {
    --rotation: 30deg;
}

.line2 {
    --rotation: 60deg;
}

.line3 {
    --rotation: 90deg;
    color: red;
}

.line4 {
    --rotation: 120deg;
}

.line5 {
    --rotation: 150deg;
}

.line6 {
    --rotation: 180deg;
    color: red;
}

.line7 {
    --rotation: 210deg;
}

.line8 {
    --rotation: 240deg;
}

.line9 {
    --rotation: 270deg;
    color: red;
}

.line10 {
    --rotation: 300deg;
}

.line11 {
    --rotation: 330deg;
}

.line12 {
    color: red;
}

.arrow {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 2px solid rgba(255, 255, 0, 0.4);
    border-radius: 50px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::before {
    content: '';
    position: absolute;
    background-color: rgba(250, 250, 47, .8);
    z-index: 11;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#hr {
    border: 2px solid rgba(250, 179, 47, 0.7);
    width: 20px;
    height: 280px;
}

#min {
    width: 10px;
    height: 350px;
}

#sec {
    border: 1px solid rgba(250, 47, 47, 0.7);
    width: 3px;
    height: 350px;
}